
@{
    ViewBag.Title = "Danh sách sản phẩm - Thời trang 360";
    Layout = "~/Areas/Admin/Views/Shared/Layout_Admin.cshtml";
}
@{
    var listProduct = ViewBag.listProduct as List<ShopBanHang.Database.Product>;
    var i = 1;
}
<div class="col col-xl-12">
    <div class="table-info table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Số thứ tự</th>
                    <th>Mã sản phẩm</th>
                    <th>Ảnh đại diện</th>
                    <th>Tên sản phẩm</th>
                    <th>Hành động</th>
                </tr>
            </thead>
            <tbody>
                @{ foreach (var item in listProduct)
                    {
                        <tr>
                            <td>@(i++)<span style="display:none" class="ID_Size">@item.ID_Product</span></td>
                            <td>@item.ID_Product</td>
                            <td><img src="@item.Image_Product" height="30"></td>
                            <td><span class="NameProduct">@item.Name_Product</span></td>
                            <td><a href="/Admin/Inventory/DetailProduct?ID_Product=@item.ID_Product" class="btn btn-warning">Xem chi tiết</a>&nbsp;<a href="#" class="btn btn-warning editProduct" data-toggle="modal" data-target="#modalSubscriptionForm">Sửa</a>&nbsp;<a class="btn btn-warning">Xóa</a></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="modalSubscriptionForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Sửa thông tin sản phẩm</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <h4 id="nProduct" style="text-align:center;color:blue"></h4>
            <form method="post" action="/Admin/Inventory/EditProduct">
                <div class="form-control" style="display:none">
                    <input name="ID_Product" id="ID_Product" />
                </div>
                <div class="form-group col col-xl-9">
                    <label for="editNameProduct">Tên sản phẩm</label>
                    <input id="editNameProduct" name="Name_Product" class="form-control" placeholder="Tên sản phẩm">

                </div>

                <div class="form-group col col-xl-9">
                    <label for="editCurrentPrice">Giá sản phẩm</label>
                    <input id="editCurrentPrice" name="Current_Price" class="form-control" placeholder="Giá sản phẩm">

                </div>
                <div class="form-group col col-xl-9">
                    <label for="editPromotion">Giá khuyến mãi</label>
                    <input id="editPromotion" name="Promotion_Price" class="form-control" placeholder="Giá khuyến mãi">

                </div>
                <div class="form-group col col-xl-9">
                    <label for="inputPassword">Loại sản phẩm mới</label>
                    <select name="New_Product" id="editNewProduct" class="form-control">
                        <option value=1>Có</option>
                        <option value=0>Không</option>
                    </select>

                </div>
                <div class="form-group col col-xl-9">
                    <label for="editDescription">Mô tả sản phẩm</label>
                    <textarea name="Description_Product" id="editDescription" class="form-control" placeholder="Mô tả sản phẩm"> </textarea>

                </div>
                <hr class="my-4">
                <div class="form-group justify-content-center" style="text-align:center">
                    <button class="btn btn-lg btn-primary" type="submit">Sửa</button>
                </div>
            </form>

           
        </div>
    </div>
</div>
@section myscript{
    <script>
        $(document).ready(function () {
            $(".editProduct").click(function () {
                var ID_Product = $(this).parent().parent().children().children(".ID_Size").html();
                 $.ajax({
                url: "/Admin/Inventory/getInfoProduct?ID_Product="+ID_Product,
                data: { ID_Product: ID_Product },
                     success: function (result) {
                         result.map(function (val) {
                             $("#editNameProduct").val(val.Name_Product);
                             $("#editCurrentPrice").val(val.Current_Price);
                             $("#editPromotion").val(val.Promotion_Price);
                             $("#editDescription").val(val.Description_Product);
                             $("#editNewProduct").val(val.New_Product);
                             $("#ID_Product").val(val.ID_Product);
                         })
                }


            })
           
        })
        })
        
    </script>
    }